html {
    height: 100%;
}

body {
    
    background-color: grey;
    background-size: cover;
    background-position: center;
    font-family: "PT Sans Caption";
    color: white;
}

#content {
    text-align: center;
    padding-top: 10%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
            0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
}


h1{
    font-weight: 700;
    font-size: 5em;
}
hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

h3 {
    font-size: 1.5em
}

li p#phone {
    color: white;
    padding-top: 1em
}

li p#git {
    color: white;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.1em
}

li a#resume {
    color: white;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.1em
}
#project1 {
    padding-top: 5em;
    border-bottom: 3px solid cyan;
}
#project1 img {
    padding-left: 20em;
}
#project2 {
    padding-top: 5em;
    border-bottom: 3px solid cyan;
}
#project2 img {
    padding-left: 20em;
}
#project3 {
    padding-top: 5em;
    
}
#project3 img {
    padding-left: 20em;
}



